#sketch{
    position:absolute!important;
    left:0;
    top:0;
    z-index: -1;
}

section{
    height: 100%!important;

    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
}

.reveal .slide-number {
    font-size: 20pt;
    color: #ffffff; 
    background-color: none!important;
}

.shadow{
    text-shadow: 2px 2px #000000!important;
}

.italic{
    font-style: italic;
}

.title{
    font-size: 4vw!important;
}

.subtitle{
    font-size: 3vw!important;
}

.tutors{
    margin-top: 40px;
    margin-left: 20%!important;
    margin-right: auto!important;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.small{
    font-size: 2vw!important;
}

.smaller{
    font-size: 4vh!important;
}

.left{
    text-align: left!important;
}

.picture{
    width: 50vh;
    height: 30vh;
    border: 1px solid white;
}

.image{
    height: 50vh;
}

.dual-pic{
    height: 50vh;
    border: 1px solid white;
}

.main-picture{
    height: 70vh;
    border: 1px solid black;
}

iframe{
    width:150vh;
    height:80vh;
    border: 1px solid black;
}

.partners{
    position: absolute!important;
    bottom: 5%!important;
    left: 0!important;
    right: 0!important;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 15vh;
    height: 15vh;
    border: 1px solid black;
}

.round{
    border-radius: 50px;
}

.page{
    position: absolute!important;
    font-size: 0.6em;
    right:0px;
    bottom:0px;
}

.list{
    font-size: 4vh;
}